.toDoList {
    list-style: none;

    li * {
        display: inline;
    }
}

.completed {
    text-decoration: line-through;
}

.check {
    width:30px;
    height:30px;
    border-radius:15px;
    background:$backgroundColor;

    i {
        opacity: 0;
    }
}
